:root {
  --mainGold: #5a8c91;
  --mainDark: #433e4d;
  --mainBlue: #d97ca2;
  --lightBlue: rgb(202, 227, 216);
  --brightPink: #cc2b6e;
}

.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}
